.image-container {
  border: 1px solid #b5a6d1;
  background-color: #e4dded;
  border-radius: .25rem;
  padding: .5rem;
  min-width: 12vw;
}

.image {
  max-height: 20vh;
  border-radius: .25rem;
  width: 100%;
}

.caption {
  margin: 1rem auto;
}